<h1>Welcome to our MAGICAL Auction of MAGICAL items.</h1>

{{#each}}
  <p>{{#link-to 'item' this.id}}{{item-name}}{{/link-to}}</p>
{{/each}}

<p>{{#link-to 'new-item' classNames="btn btn-primary"}} Add Item {{/link-to}}</p>
